name: Run Keeper

on:
  schedule:
    # Har 5 minute me chalega
    - cron: '*/5 * * * *'
  workflow_dispatch: # Button dabane par bhi chalega

jobs:
  ping_sites:
    runs-on: ubuntu-latest
    steps:
      - name: Code le kar aao
        uses: actions/checkout@v3

      - name: Python set karo
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Library install karo
        run: pip install requests

      - name: Script chalao
        run: python main.py
